@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

:root {
    --pri: rgb(121, 6, 197);
    --sec: rgb(209, 0, 146);
    --tet: rgb(56, 255, 26);
    --text-pri: rgb(0, 0, 0);
    --text-sec: rgb(255, 255, 255);
}

* {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: var(--text-pri);
    display: flex;
    flex-direction: row;
    border-bottom: .35rem var(--text-sec) solid;
}

.nav__child1 {
    flex-basis: 30%;
    display: flex;
    text-align: center;
}

.nav__child1 button {
    width: 75%;
    margin: 5%;
    background: transparent;
    border: none;
}

.nav__child1 button svg {
    width: 70%;
    fill: var(--text-sec);
    margin: 5%;
}

.nav__child2 {
    display: flex;
    flex-basis: 70%;
}

.nav__child3 {
    flex-basis: 32%;
    display: flex;
}

.nav__child3 img {
    width: 95%;
    margin: 10%;
    align-items: center;
    justify-content: center;
}

.nav__child4 {
    flex-basis: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__child4 h3 {
    color: var(--text-sec);
    font-size: 3rem;
    text-align: center;
}

.footer {
    background-color: var(--text-pri);
    color: var(--text-sec);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: var(--text-sec) 0.5rem solid;
}

.footer h1 {
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 500;
}


.footer h2 {
    font-size: 2rem;
    font-weight: 500;
}


.main {
    background: linear-gradient(to bottom,
            var(--pri),
            var(--sec));
}

.main-h {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mpOne {
    background: var(--text-pri);
    color: var(--text-sec);
    width: 75vw;
    margin: 3rem;
    padding: 1.8rem;
    border-radius: 2.5rem;
    font-size: 2.5rem;
    text-align: center;
    border: var(--text-pri) 0.25rem solid;
}

.mpS {
    background: transparent;
    color: var(--text-sec);
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
}

.mGif {
    border-radius: 4rem;
    padding: 1.8rem;
    width: 75vw;
}

.mImg {
    width: 50vw;
}

.mButton {
    background: var(--text-pri);
    color: var(--text-sec);
    width: 75vw;
    box-shadow: -1.4rem 1.4rem 0 0 var(--tet);
    margin-bottom: 6rem;
    padding: 1.8rem;
    border-radius: 2.5rem;
    font-size: 2.5rem;
    text-align: center;
    border: var(--text-sec) 0.35rem solid;
}

#hamburger {
    position: fixed;
    background: linear-gradient(rgba(121, 6, 197, 0.3), rgba(121, 6, 197, 0.3)),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: -200vw;
    border-right: .3rem var(--text-sec) solid;
    text-align: left;
    z-index: 2;
    border-radius: 0rem 5rem 5rem 0rem;
    transition: 0.6s;
}

.hamburger {
    position: fixed;
    background: linear-gradient(rgba(121, 6, 197, 0.3), rgba(121, 6, 197, 0.3)),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: .3rem var(--text-sec) solid;

    top: 0;
    left: -200vw;
    text-align: left;
    z-index: 2;
    border-radius: 0rem 5rem 5rem 0rem;
    transition: 0.6s;
}

.hamburger-button {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
}

.hamburger-button svg {
    fill: var(--text-sec);
    width: 15vw;
    position: fixed;
    top: 10%;
}

.hamb-a {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    justify-content: center;
    align-items: center;
}

.hamb-a a {
    font-size: 2rem;
    width: 85%;
}


.button {
    background: var(--text-pri);
    color: var(--text-sec);
    width: 75vw;
    box-shadow: -1.4rem 1.4rem 0 0 var(--tet);
    margin-bottom: 6rem;
    padding: 1.8rem;
    border-radius: 2.5rem;
    font-size: 2.5rem;
    text-align: center;
    border: var(--text-sec) 0.35rem solid;
}


.heading {
    font-size: 3.3rem;
    padding: 1rem;
    text-align: center;
}

.calc-head {
    font-size: 2.2rem;
    padding: 1rem;
    text-align: left;
}

.calc-coor {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.calc-coor h3 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.calc-coor input {
    width: 40vw;
    height: 5vh;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1.2rem;
    margin-left: 0;
}

.feedback {
    width: 100vw;
    height: 100vh;
}

@media all and (min-width: 600px) {
    html {
        display: none;
    }
}